<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Layar", suffix: " · Phoenix Framework" %>
    
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" ></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="header header-fixed unselectable header-animated">
      <div class="header-brand">
        <div class="nav-item no-hover">
          <h6 class="title"><a href="/">Layar</a></h6>
        </div>
        <div class="nav-item nav-btn" id="header-btn"> <span></span> <span></span> <span></span> </div>
      </div>
      <div class="header-nav" id="header-menu">
        <div class="nav-left">
          <div class="nav-item text-center"> <a href="#"> <span class="icon"> <i class="fab fa-wrapper fa-twitter" aria-hidden="true"></i> </span> </a> </div>
        </div>
        <div class="nav-right">
          <div class="nav-item has-sub toggle-hover" id="dropdown">
            <a class="nav-dropdown-link">Menu</a>
            <ul class="dropdown-menu dropdown-animated" role="menu">
              <li role="menu-item"><%= link("Session", to: Routes.session_path(@conn, :index)) %></li>
              <li role="menu-item"><%= link("Overlay Themes", to: Routes.theme_path(@conn, :index)) %></li>
              <li role="menu-item"><%= link("Screens", to: Routes.screen_path(@conn, :index)) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="hero fullscreen">
        <div class="hero-body">
          <div class="content">
            <div class="text-center">
              <%= @inner_content %>

            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
